# Cleaning Datasets D1/D2/D4

In [1]:
import pandas as pd

In [2]:
# importing data files
D1 = pd.read_csv("raw_data/D1/D1-2.csv",header=0)
D4 = pd.read_csv("raw_data/D4/D4-percieved-independece-justiceSystem.tsv",sep='\t',header=0)

We define two helper functions to aid the exploration and cleaning of data namelt, `col_unique_val` for viewing all the unique values in a column and `row_values` for fetching all the values of a row.

In [3]:
# Defining Helper Functions
def col_unique_val(df,colname):
    uniq_vals = []
    for index,row in df.iterrows():
        for col,value in row.items():
            if col == colname and value not in uniq_vals:
                uniq_vals.append(value)
    return uniq_vals

def row_values(df,row_index):
    values = df.loc[row_index].values
    return values

## Creating D1

D1 has two part, 
- Total death count
- Count with reason

We observe that there is a stark difference between the `total` death count and the combined number of death with `reason` and one possible explanation is that the total takes into account the _legalally sanctioned deaths_ as well?

In [4]:
D1.head(4)

,UNODC,#ERROR!,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,07/06/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source
2,ABW,Aruba,Americas,Latin America and the Caribbean,Persons held,Total,Total,Total,Total,2005,Counts,231,External
3,ABW,Aruba,Americas,Latin America and the Caribbean,Persons held,Total,Total,Total,Total,2007,Counts,277,External

In [5]:
#Second line is actaully the column names we need to use
col_names = row_values(D1,1)
#col_names = D1.loc[1].values
print(col_names)

['Iso3_code' 'Country' 'Region' 'Subregion' 'Indicator' 'Dimension'
 'Category' 'Sex' 'Age' 'Year' 'Unit of measurement' 'VALUE' 'Source']

In [6]:
#removing the first row 
D1 = D1.iloc[2:]
D1.head(5)

,UNODC,#ERROR!,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
2,ABW,Aruba,Americas,Latin America and the Caribbean,Persons held,Total,Total,Total,Total,2005,Counts,231,External
3,ABW,Aruba,Americas,Latin America and the Caribbean,Persons held,Total,Total,Total,Total,2007,Counts,277,External
4,ABW,Aruba,Americas,Latin America and the Caribbean,Persons held,Total,Total,Total,Total,2011,Counts,246,External
5,ABW,Aruba,Americas,Latin America and the Caribbean,Persons held,Total,Total,Total,Total,2013,Counts,240,External
6,ABW,Aruba,Americas,Latin America and the Caribbean,Persons held,Total,Total,Total,Total,2014,Counts,170,External

In [7]:

#renaming the columns is required
D1.columns = col_names
D1.head(5)

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source
2,ABW,Aruba,Americas,Latin America and the Caribbean,Persons held,Total,Total,Total,Total,2005,Counts,231,External
3,ABW,Aruba,Americas,Latin America and the Caribbean,Persons held,Total,Total,Total,Total,2007,Counts,277,External
4,ABW,Aruba,Americas,Latin America and the Caribbean,Persons held,Total,Total,Total,Total,2011,Counts,246,External
5,ABW,Aruba,Americas,Latin America and the Caribbean,Persons held,Total,Total,Total,Total,2013,Counts,240,External
6,ABW,Aruba,Americas,Latin America and the Caribbean,Persons held,Total,Total,Total,Total,2014,Counts,170,External

In [8]:
regions = []
#Finding all unique regions
regions = col_unique_val(D1,'Region')
print(regions)

#grouping by Region to separate the Data of eurpean countries from the bigger set
D1_group = D1.groupby(['Region'])

#getting the data for only Europe
D1_euro= D1_group.get_group('Europe')
D1_euro

['Americas', 'Asia', 'Africa', 'Europe', 'Oceania']

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source
67,ALB,Albania,Europe,Southern Europe,Persons held,Total,Total,Total,Total,2003,Counts,2561,CTS/External
68,ALB,Albania,Europe,Southern Europe,Persons held,by status,Sentenced,Total,Total,2003,Counts,2071,CTS
69,ALB,Albania,Europe,Southern Europe,Persons held,by status,Unsentenced,Total,Total,2003,Counts,490,CTS/External
70,ALB,Albania,Europe,Southern Europe,Persons held unsentenced,by length of detention,Unsentenced: Total,Total,Total,2003,Counts,490,CTS/External
71,ALB,Albania,Europe,Southern Europe,Persons held,Total,Total,Total,Adult,2003,Counts,2524,CTS
...,...,...,...,...,...,...,...,...,...,...,...,...,...
57175,SWE,Sweden,Europe,Northern Europe,Persons held,by status,Unsentenced,Male,Total,2020,"Rate per 100,000 population",37.43862112,CTS
57234,UKR,Ukraine,Europe,Eastern Europe,Persons held,Total,Total,Male,Total,2010,"Rate per 100,000 population",510.1761779,Computed
57235,UKR,Ukraine,Europe,Eastern Europe,Persons held,Total,Total,Male,Total,2011,"Rate per 100,000 population",517.8107384,Computed
57236,UKR,Ukraine,Europe,Eastern Europe,Persons held,by status,Unsentenced,Male,Total,2017,"Rate per 100,000 population",88.94136041,CTS
57237,UKR,Ukraine,Europe,Eastern Europe,Persons held,Total,Total,Male,Total,2017,"Rate per 100,000 population",263.3091497,Computed

In [9]:
#exploring the values in different columns
#----------------finding all unique values in indicator column
indicator_val = []
indicator_val = col_unique_val(D1_euro,'Indicator')
for item in indicator_val:
    print(item)

Persons held
Persons held unsentenced
Prisons facilities and capacity
Persons entering prison
Mortality in prison
Persons held under other types of supervision

In [62]:
#----------------finding all unique values in category column
catgry_val = []
catgry_val = col_unique_val(D1_euro,'Category')
for item in catgry_val:
    print(item)
    
# after viewing the categories, we see that there are some values like, `Unsentenced for more than 12 months, less than 12 months, 
# less than 6 months`. We need to extract these - to do that, we need to use the Indicator `Person held unsentenced`

Total
Sentenced
Unsentenced
Unsentenced: Total
Official prison capacity
National citizens
Foreign citizens
Intentional Homicide
Acts involving controlled psycho-active substances
Drug possession
Drug trafficking
Deaths due to external causes
Deaths due to external causes: by intentional homicide
Deaths due to external causes: by suicide
Deaths due to external causes: by accident or other causes
Deaths due to natural causes
Rape
Unsentenced for more than 12 months
Number of facilities
Bribery
Unsentenced for less than 12 months
Unsentenced for less than 6 months
Acts leading to death or intending to cause death
Acts leading to harm or intending to cause harm to the person
Injurious acts of a sexual nature
Acts against property involving violence
Acts against property only
Acts involving fraud, deception or corruption
Acts against public order
Acts against public safety and state security
Acts against the natural environment
Other criminal acts not elsewhere classified
Drug Trafficking
Acts against the natural environ-ment
Drug Possession

In [11]:
#grouping the dataframe by Indicator to get data for only `Mortality in Prison`
D1_temp = D1_euro.groupby(['Indicator'])
D1_mortality = D1_temp.get_group('Mortality in prison')
D1_mortality.head(5)

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source
186,ALB,Albania,Europe,Southern Europe,Mortality in prison,Total,Total,Total,Total,2013,Counts,13,CTS
187,ALB,Albania,Europe,Southern Europe,Mortality in prison,by type of death,Deaths due to external causes,Total,Total,2013,Counts,9,CTS
188,ALB,Albania,Europe,Southern Europe,Mortality in prison,by type of death,Deaths due to external causes: by intentional ...,Total,Total,2013,Counts,0,CTS
189,ALB,Albania,Europe,Southern Europe,Mortality in prison,by type of death,Deaths due to external causes: by suicide,Total,Total,2013,Counts,4,CTS
206,ALB,Albania,Europe,Southern Europe,Mortality in prison,Total,Total,Total,Total,2014,Counts,12,CTS

In [12]:
dim = []
dim = col_unique_val(D1_mortality,'Dimension')
print(dim)
D1_mortality.columns

['Total', 'by type of death']

Index(['Iso3_code', 'Country', 'Region', 'Subregion', 'Indicator', 'Dimension',
       'Category', 'Sex', 'Age', 'Year', 'Unit of measurement', 'VALUE',
       'Source'],
      dtype='object')

In [13]:

D1_groupedCategory = D1_mortality.groupby(['Category'])
print(type(D1_groupedCategory.groups))
for value in D1_groupedCategory.groups:
    print('---',value)

<class 'pandas.io.formats.printing.PrettyDict'>
--- Deaths due to external causes
--- Deaths due to external causes: by accident or other causes
--- Deaths due to external causes: by intentional homicide
--- Deaths due to external causes: by suicide
--- Deaths due to natural causes
--- Total

In [14]:
#creating D1_totalcount
D1_total = D1_groupedCategory.get_group('Total')
D1_total.head()

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source
186,ALB,Albania,Europe,Southern Europe,Mortality in prison,Total,Total,Total,Total,2013,Counts,13,CTS
206,ALB,Albania,Europe,Southern Europe,Mortality in prison,Total,Total,Total,Total,2014,Counts,12,CTS
224,ALB,Albania,Europe,Southern Europe,Mortality in prison,Total,Total,Total,Total,2015,Counts,11,CTS
244,ALB,Albania,Europe,Southern Europe,Mortality in prison,Total,Total,Total,Total,2016,Counts,17,CTS
267,ALB,Albania,Europe,Southern Europe,Mortality in prison,Total,Total,Total,Total,2017,Counts,23,CTS

> Note:
    In the D1_total dataframe we have two columns namely, `Dimension` & `Category` which both have the same value and only one value but I have choosen to not get rid of it to aid the future user incase of using the dataframe with other dataframes. These columns provide a context.

In [15]:
#creating D1_reason
D1_reason1 = D1_groupedCategory.get_group('Deaths due to external causes: by accident or other causes')
D1_reason2 = D1_groupedCategory.get_group('Deaths due to external causes: by intentional homicide')
D1_reason3 = D1_groupedCategory.get_group('Deaths due to external causes: by suicide')
D1_reason4 = D1_groupedCategory.get_group('Deaths due to natural causes')

D1_reason_temp1 = pd.concat([D1_reason1,D1_reason2])
D1_reason_temp2 = pd.concat([D1_reason3,D1_reason4])
D1_reason = pd.concat([D1_reason_temp1,D1_reason_temp2])

#droping `Sex` and `Age` which not from the mortality data and also droping `Indicator` as it is self-evident
D1_total = D1_total.drop(columns=['Sex','Age','Indicator'])
D1_total.head()

,Iso3_code,Country,Region,Subregion,Dimension,Category,Year,Unit of measurement,VALUE,Source
186,ALB,Albania,Europe,Southern Europe,Total,Total,2013,Counts,13,CTS
206,ALB,Albania,Europe,Southern Europe,Total,Total,2014,Counts,12,CTS
224,ALB,Albania,Europe,Southern Europe,Total,Total,2015,Counts,11,CTS
244,ALB,Albania,Europe,Southern Europe,Total,Total,2016,Counts,17,CTS
267,ALB,Albania,Europe,Southern Europe,Total,Total,2017,Counts,23,CTS

In [16]:
D1_reason = D1_reason.drop(columns=['Sex','Age','Indicator'])
D1_reason.head()

,Iso3_code,Country,Region,Subregion,Dimension,Category,Year,Unit of measurement,VALUE,Source
228,ALB,Albania,Europe,Southern Europe,by type of death,Deaths due to external causes: by accident or ...,2015,Counts,0,CTS
248,ALB,Albania,Europe,Southern Europe,by type of death,Deaths due to external causes: by accident or ...,2016,Counts,0,CTS
271,ALB,Albania,Europe,Southern Europe,by type of death,Deaths due to external causes: by accident or ...,2017,Counts,0,CTS
300,ALB,Albania,Europe,Southern Europe,by type of death,Deaths due to external causes: by accident or ...,2018,Counts,0,CTS
330,ALB,Albania,Europe,Southern Europe,by type of death,Deaths due to external causes: by accident or ...,2019,Counts,0,CTS

### <span style='color:red'>Important !</span>
Note that for now, the process of grouping the data with resepct to the `category` and `indicator` has given us a dataframe which have the same number of rows for each country which shows that we have **different time spans** for different countries and to use them together, it would be a good idea to first create new dataframes for each country with columns having a placeholder for the years for which ther is not data. This way we also _normalise_ this dataset with the others being used as they use a placeholder for missing data.

<hr>

## Creating D2

D2 has two part, 
- Total number of people held in prison per year
- Count of people held with the status of their case as un-sentenced and for how long?

the unit of measurement is always counts.

In [64]:
for item in indicator_val:
    print(item)

Persons held
Persons held unsentenced
Prisons facilities and capacity
Persons entering prison
Mortality in prison
Persons held under other types of supervision

## CREATING FIRST PART OF D1 – TOTAL HELD

In [144]:
#grouping the dataframe by Indicator to get data for only `Persons held`
D2_persHeld = D1_temp.get_group('Persons held')
D2_persHeld.head(20)

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source
67,ALB,Albania,Europe,Southern Europe,Persons held,Total,Total,Total,Total,2003,Counts,2561,CTS/External
68,ALB,Albania,Europe,Southern Europe,Persons held,by status,Sentenced,Total,Total,2003,Counts,2071,CTS
69,ALB,Albania,Europe,Southern Europe,Persons held,by status,Unsentenced,Total,Total,2003,Counts,490,CTS/External
71,ALB,Albania,Europe,Southern Europe,Persons held,Total,Total,Total,Adult,2003,Counts,2524,CTS
72,ALB,Albania,Europe,Southern Europe,Persons held,Total,Total,Total,Juveniles,2003,Counts,37,CTS
76,ALB,Albania,Europe,Southern Europe,Persons held,by status,Sentenced,Total,Total,2004,Counts,2321,CTS
77,ALB,Albania,Europe,Southern Europe,Persons held,by status,Unsentenced,Total,Total,2004,Counts,623,CTS/External
79,ALB,Albania,Europe,Southern Europe,Persons held,Total,Total,Total,Adult,2004,Counts,2299,CTS
80,ALB,Albania,Europe,Southern Europe,Persons held,Total,Total,Total,Juveniles,2004,Counts,22,CTS
84,ALB,Albania,Europe,Southern Europe,Persons held,Total,Total,Total,Total,2004,Counts,2944,CTS/External
85,ALB,Albania,Europe,Southern Europe,Persons held,by status,Sentenced,Total,Total,2005,Counts,2592,CTS
86,ALB,Albania,Europe,Southern Europe,Persons held,by status,Unsentenced,Total,Total,2005,Counts,872,CTS/External
88,ALB,Albania,Europe,Southern Europe,Persons held,Total,Total,Total,Adult,2005,Counts,2576,CTS
89,ALB,Albania,Europe,Southern Europe,Persons held,Total,Total,Total,Juveniles,2005,Counts,16,CTS
91,ALB,Albania,Europe,Southern Europe,Persons held,by citizenship,National citizens,Total,Total,2005,Counts,2573,CTS
92,ALB,Albania,Europe,Southern Europe,Persons held,by citizenship,Foreign citizens,Total,Total,2005,Counts,19,CTS
95,ALB,Albania,Europe,Southern Europe,Persons held,Total,Total,Total,Total,2005,Counts,3464,CTS/External
96,ALB,Albania,Europe,Southern Europe,Persons held,by status,Sentenced,Total,Total,2006,Counts,2857,CTS
97,ALB,Albania,Europe,Southern Europe,Persons held,by status,Unsentenced,Total,Total,2006,Counts,941,CTS/External
99,ALB,Albania,Europe,Southern Europe,Persons held,Total,Total,Total,Adult,2006,Counts,2829,CTS

In [145]:
for item in (col_unique_val(D2_persHeld,'Dimension')):
    print(item)
    
#we only want total so lets group it by dimension = total

D2_persHeldTotal = D2_persHeld.groupby(['Dimension'])
D2_persHeld = D2_persHeldTotal.get_group('Total')

# droping the dimension column now
D2_persHeld = D2_persHeld.drop(columns=['Dimension','Category'])

#since we dont care to differentiate between by Age, we are only getting the data from the Total rows of the age which contains both the Adults and juveniles.
D2_persHeldAgeTotal = D2_persHeld.groupby(['Age'])
D2_persHeld = D2_persHeldAgeTotal.get_group('Total')
D2_persHeld = D2_persHeld.drop(columns=['Age'])

# now we will remove the data in the rate/100000 population and only keep raw count
D2_persHeldUnitgroup = D2_persHeld.groupby(['Unit of measurement'])
D2_persHeld = D2_persHeldUnitgroup.get_group('Counts')
D2_persHeld = D2_persHeld.reset_index(drop=True)
D2_persHeld

Total
by status
by citizenship
by selected crime
by type of criminal acts

,Iso3_code,Country,Region,Subregion,Indicator,Sex,Year,Unit of measurement,VALUE,Source
0,ALB,Albania,Europe,Southern Europe,Persons held,Total,2003,Counts,2561,CTS/External
1,ALB,Albania,Europe,Southern Europe,Persons held,Total,2004,Counts,2944,CTS/External
2,ALB,Albania,Europe,Southern Europe,Persons held,Total,2005,Counts,3464,CTS/External
3,ALB,Albania,Europe,Southern Europe,Persons held,Total,2006,Counts,3798,CTS/External
4,ALB,Albania,Europe,Southern Europe,Persons held,Total,2007,Counts,4555,CTS/External
...,...,...,...,...,...,...,...,...,...,...
2026,VAT,Holy See,Europe,Southern Europe,Persons held,Male,2011,Counts,0,Computed
2027,VAT,Holy See,Europe,Southern Europe,Persons held,Male,2012,Counts,1,Computed
2028,VAT,Holy See,Europe,Southern Europe,Persons held,Male,2013,Counts,0,Computed
2029,VAT,Holy See,Europe,Southern Europe,Persons held,Male,2014,Counts,0,Computed
2030,VAT,Holy See,Europe,Southern Europe,Persons held,Male,2015,Counts,1,Computed

In [152]:
#store the repeated string values in a different df
D2_persHeldStrng = D2_persHeld.drop(columns=['Year','VALUE'])
D2_persHeldStrng = D2_persHeldStrng.reset_index(drop=True)
D2_persHeldStrng

,Iso3_code,Country,Region,Subregion,Indicator,Sex,Unit of measurement,Source
0,ALB,Albania,Europe,Southern Europe,Persons held,Total,Counts,CTS/External
1,ALB,Albania,Europe,Southern Europe,Persons held,Total,Counts,CTS/External
2,ALB,Albania,Europe,Southern Europe,Persons held,Total,Counts,CTS/External
3,ALB,Albania,Europe,Southern Europe,Persons held,Total,Counts,CTS/External
4,ALB,Albania,Europe,Southern Europe,Persons held,Total,Counts,CTS/External
...,...,...,...,...,...,...,...,...
2026,VAT,Holy See,Europe,Southern Europe,Persons held,Male,Counts,Computed
2027,VAT,Holy See,Europe,Southern Europe,Persons held,Male,Counts,Computed
2028,VAT,Holy See,Europe,Southern Europe,Persons held,Male,Counts,Computed
2029,VAT,Holy See,Europe,Southern Europe,Persons held,Male,Counts,Computed
2030,VAT,Holy See,Europe,Southern Europe,Persons held,Male,Counts,Computed

In [156]:
#performing the necessary separation by sex for the strings here
D2_persHeldStrnggrp = D2_persHeldStrng.groupby(['Sex'])

D2_persHeldStrng1 = D2_persHeldStrnggrp.get_group('Total')
D2_persHeldStrng2 = D2_persHeldStrnggrp.get_group('Male')
D2_persHeldStrng3 = D2_persHeldStrnggrp.get_group('Female')
D2_persHeldStrng3

,Iso3_code,Country,Region,Subregion,Indicator,Sex,Unit of measurement,Source
835,ALB,Albania,Europe,Southern Europe,Persons held,Female,Counts,Computed
836,ALB,Albania,Europe,Southern Europe,Persons held,Female,Counts,Computed
837,ALB,Albania,Europe,Southern Europe,Persons held,Female,Counts,Computed
838,ALB,Albania,Europe,Southern Europe,Persons held,Female,Counts,Computed
839,ALB,Albania,Europe,Southern Europe,Persons held,Female,Counts,Computed
...,...,...,...,...,...,...,...,...
1466,VAT,Holy See,Europe,Southern Europe,Persons held,Female,Counts,Computed
1467,VAT,Holy See,Europe,Southern Europe,Persons held,Female,Counts,Computed
1468,VAT,Holy See,Europe,Southern Europe,Persons held,Female,Counts,Computed
1469,VAT,Holy See,Europe,Southern Europe,Persons held,Female,Counts,Computed
1470,VAT,Holy See,Europe,Southern Europe,Persons held,Female,Counts,Computed

In [164]:
#IMPORTANT - this transform gives the values of the subsequent years in the subsequent rows. Maybe to solve this, we need to use index for which we need to
# first separate the values for different sexes
D2_temppsex = D2_persHeld.groupby(['Sex'])

D2_temtotal = D2_temppsex.get_group('Total')
D2_temMale = D2_temppsex.get_group('Male')
D2_temFemale = D2_temppsex.get_group('Female')

# perform a transformation
df_transformed1 = D2_temtotal.pivot(index = 'Country',columns='Year', values='VALUE')
df_transformed2 = D2_temMale.pivot(index = 'Country',columns='Year', values='VALUE')
df_transformed3 = D2_temFemale.pivot(index = 'Country',columns='Year', values='VALUE')
df_transformed2.head()

Year,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
Country,,,,,,,,,,,,,,,,,,,
Albania,NaN,2262,2526,2778,2706,2965,4551,4559,4575,4536,4909,5580,5860,5933,5581,5207,4959,NaN,NaN
Andorra,NaN,NaN,NaN,NaN,63,60,45,36,42,29,37,41,32,42,38,45,43,NaN,NaN
Austria,NaN,NaN,7771,7886,7648,7011,7625,7752,7882,8226,8318,8185,NaN,8127,8334,8600,8466,NaN,NaN
Belarus,35789,40488,39263,42823,43714,41399,37277,36639,33982,26901,26485,27544,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Belgium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10355,NaN,NaN,NaN,NaN,NaN,NaN

In [165]:
D2_persHeldStrng1 = D2_persHeldStrng1.reset_index(drop=True)
D2_persHeldStrng2 = D2_persHeldStrng2.reset_index(drop=True)
D2_persHeldStrng3 = D2_persHeldStrng3.reset_index(drop=True)

df_transformed1 = df_transformed1.reset_index(drop=True)
df_transformed2 = df_transformed2.reset_index(drop=True)
df_transformed3 = df_transformed3.reset_index(drop=True)

In [166]:
#perform merge of the strng df with the value df
D1_totalPersHeldT = pd.merge(D2_persHeldStrng1, df_transformed1, left_index=True, right_index=True)
D1_totalPersHeldM = pd.merge(D2_persHeldStrng2, df_transformed2, left_index=True, right_index=True)
D1_totalPersHeldF = pd.merge(D2_persHeldStrng3, df_transformed3, left_index=True, right_index=True)

D1_totalPersHeldT
#still need to remove the NAN values and repeat the operation for all the sexes.

,Iso3_code,Country,Region,Subregion,Indicator,Sex,Unit of measurement,Source,2003,2004,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,ALB,Albania,Europe,Southern Europe,Persons held,Total,Counts,CTS/External,2561,2944,...,4618,4998,5689,5981,6031,5674,5316,5045,4614,NaN
1,ALB,Albania,Europe,Southern Europe,Persons held,Total,Counts,CTS/External,61,61,...,36,43,53,41,46,43,49,49,50,NaN
2,ALB,Albania,Europe,Southern Europe,Persons held,Total,Counts,CTS/External,NaN,NaN,...,8805,8862,8692,NaN,8619,8852,9163,9072,8488,NaN
3,ALB,Albania,Europe,Southern Europe,Persons held,Total,Counts,CTS/External,48434,42253,...,28841,28471,29776,33329,35169,34356,32556,NaN,NaN,NaN
4,ALB,Albania,Europe,Southern Europe,Persons held,Total,Counts,CTS/External,NaN,9245,...,11212,12126,11769,10994,11071,10471,10261,10559,10381,NaN
5,ALB,Albania,Europe,Southern Europe,Persons held,Total,Counts,CTS/External,NaN,2405,...,2928,2898,2825,2730,2832,2820,4377,4482,4332,NaN
6,ALB,Albania,Europe,Southern Europe,Persons held,Total,Counts,CTS/External,10066,10871,...,9493,8834,7870,7408,7345,6988,6651,6448,6251,NaN
7,ALB,Albania,Europe,Southern Europe,Persons held,Total,Counts,CTS/External,2805,3029,...,4741,4352,3763,3341,3108,3190,3217,3533,3531,NaN
8,ALB,Albania,Europe,Southern Europe,Persons held,Total,Counts,CTS/External,17277,18343,...,22644,16645,18658,20866,22481,22159,21577,21048,19286,NaN
9,ALB,Albania,Europe,Southern Europe,Persons held,Total,Counts,CTS/External,3641,3767,...,3829,4091,3583,3203,3408,3418,3635,3920,4166,NaN
10,ALB,Albania,Europe,Southern Europe,Persons held,Total,Counts,CTS/External,4576,4565,...,3286,3112,3034,2823,2864,2723,2584,2487,2366,NaN
11,ALB,Albania,Europe,Southern Europe,Persons held,Total,Counts,CTS/External,13,NaN,...,8,10,11,10,8,6,NaN,NaN,NaN,NaN
12,ALB,Albania,Europe,Southern Europe,Persons held,Total,Counts,CTS/External,3641,3704,...,3306,3295,3148,3135,3156,3082,2956,2945,2751,NaN
13,ALB,Albania,Europe,Southern Europe,Persons held,Total,Counts,CTS/External,55382,55355,...,66572,67075,66270,66678,68432,68974,70059,70739,62673,NaN
14,ALB,Albania,Europe,Southern Europe,Persons held,Total,Counts,CTS/External,80829,80933,...,68533,66221,63228,63020,64291,65841,65762,63146,59585,NaN
15,ALB,Albania,Europe,Southern Europe,Persons held,Total,Counts,CTS/External,NaN,19,...,63,NaN,46,NaN,56,NaN,NaN,NaN,NaN,NaN
16,ALB,Albania,Europe,Southern Europe,Persons held,Total,Counts,CTS/External,8726,8722,...,12475,12693,11798,9611,9560,10011,10654,10891,11379,NaN
17,ALB,Albania,Europe,Southern Europe,Persons held,Total,Counts,CTS/External,NaN,93,...,117,NaN,97,83.33,92,110,100,NaN,NaN,NaN
18,AND,Andorra,Europe,Southern Europe,Persons held,Total,Counts,External/WPB-ICPR/CTS,NaN,NaN,...,1,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN
19,AND,Andorra,Europe,Southern Europe,Persons held,Total,Counts,External/WPB-ICPR/CTS,16860,16546,...,17179,17841,17890,17449,17658,17343,17251,16664,16726,NaN
20,AND,Andorra,Europe,Southern Europe,Persons held,Total,Counts,External/WPB-ICPR/CTS,109,115,...,153,147,142,139,116,137,136,158,141,NaN
21,AND,Andorra,Europe,Southern Europe,Persons held,Total,Counts,External/WPB-ICPR/CTS,3234,3162,...,4287,4088,3777,3722,3718,3680,3962,4017,3810,NaN
22,AND,Andorra,Europe,Southern Europe,Persons held,Total,Counts,External/WPB-ICPR/CTS,NaN,51,...,81,NaN,91,NaN,76,106,106,NaN,NaN,NaN
23,AND,Andorra,Europe,Southern Europe,Persons held,Total,Counts,External/WPB-ICPR/CTS,54993,56903,...,67102,63848,54745,53410,55978,59038,61131,62232,54605,NaN
24,AND,Andorra,Europe,Southern Europe,Persons held,Total,Counts,External/WPB-ICPR/CTS,NaN,170,...,157,NaN,140,NaN,140,128,128,NaN,NaN,NaN
25,AND,Andorra,Europe,Southern Europe,Persons held,Total,Counts,External/WPB-ICPR/CTS,1182,1189,...,1737,1776,1854,1478,1648,1709,1567,1806,1396,NaN
26,AND,Andorra,Europe,Southern Europe,Persons held,Total,Counts,External/WPB-ICPR/CTS,8305,8231,...,6117,5136,4745,4409,4243,3765,3522,3414,3104,NaN
27,AND,Andorra,Europe,Southern Europe,Persons held,Total,Counts,External/WPB-ICPR/CTS,NaN,NaN,...,60,68,53,53,72,73,63,43,64,NaN
28,AND,Andorra,Europe,Southern Europe,Persons held,Total,Counts,External/WPB-ICPR/CTS,8063,8125,...,9729,9261,8636,7355,6815,6599,6485,6138,5320,NaN
29,AND,Andorra,Europe,Southern Europe,Persons held,Total,Counts,External/WPB-ICPR/CTS,NaN,602,...,666,656,626,691,724,684,650,536,NaN,NaN
30,AND,Andorra,Europe,Southern Europe,Persons held,Total,Counts,External/WPB-ICPR/CTS,278,298,...,585,615,581,569,553,591,635,754,864,NaN
31,AND,Andorra,Europe,Southern Europe,Persons held,Total,Counts,External/WPB-ICPR/CTS,28,34,...,33,29,23,34,31,29,29,NaN,NaN,NaN
32,AND,Andorra,Europe,Southern Europe,Persons held,Total,Counts,External/WPB-ICPR/CTS,741,799,...,1331,1064,1123,1131,1123,1119,1125,1090,810,NaN
33,AND,Andorra,Europe,Southern Europe,Persons held,Total,Counts,External/WPB-ICPR/CTS,16184,18766,...,13473,12721,11934,10850,10601,10874,11251,11677,11024,NaN
34,AND,Andorra,Europe,Southern Europe,Persons held,Total,Counts,External/WPB-ICPR/CTS,1608,1782,...,2543,NaN,3116,3427,3231,3031,3029,NaN,NaN,NaN
35,AUT,Austria,Europe,Western Europe,Persons held,Total,Counts,CTS,2822,2899,...,4052,3869,4103,4056,4192,4164,3791,3561,3533,NaN
36,AUT,Austria,Europe,Western Europe,Persons held,Total,Counts,CTS,79281,80368,...,85459,80165,79345,72695,72209,74480,72818,74612,68354,NaN
37,AUT,Austria,Europe,Western Europe,Persons held,Total,Counts,CTS,13835,13677,...,13875,14535,14198,14373,13917,13587,13021,12947,11502,NaN
38,AUT,Austria,Europe,Western Europe,Persons held,Total,Counts,CTS,10591,9377,...,6575,6846,7313,8051,7750,7635,6990,6712,NaN,NaN
39,AUT,Austria,Europe,Western Europe,Persons held,Total,Counts,CTS,42815,39031,...,31817,33434,30156,28334,27455,23450,20792,20578,21753,NaN
40,AUT,Austria,Europe,Western Europe,Persons held,Total,Counts,CTS,NaN,763115,...,701909,677287,671649,646085,630155,602176,563166,523928,482851,NaN
41,AUT,Austria,Europe,Western Europe,Persons held,Total,Counts,CTS,NaN,NaN,...,NaN,NaN,NaN,2,NaN,3,6,NaN,NaN,NaN
42,AUT,Austria,Europe,Western Europe,Persons held,Total,Counts,CTS,7487,7654,...,10226,10031,10288,10064,10672,10807,10871,11077,10540,NaN
43,AUT,Austria,Europe,Western Europe,Persons held,Total,Counts,CTS,8873,9422,...,10850,9753,10020,9913,9995,10028,10294,10555,10519,NaN
44,AUT,Austria,Europe,Western Europe,Persons held,Total,Counts,CTS,1070,1085,...,1377,1360,1522,1399,1308,1316,1346,1396,1449,NaN
45,AUT,Austria,Europe,Western Europe,Persons held,Total,Counts,CTS,56096,59375,...,68597,66765,65017,61614,59589,58812,58883,58517,55180,55097
46,AUT,Austria,Europe,Western Europe,Persons held,Total,Counts,CTS,6755,7332,...,6296,5723,5807,5691,5658,5713,6114,6719,7297,NaN
47,AUT,Austria,Europe,Western Europe,Persons held,Total,Counts,CTS,4842,5509,...,6102,6634,6519,6498,6507,6564,6602,6568,6183,NaN
48,AUT,Austria,Europe,Western Europe,Persons held,Total,Counts,CTS,191241,192047,...,NaN,147112,NaN,73431,60771,57100,NaN,55078,NaN,NaN
49,AUT,Austria,Europe,Western Europe,Persons held,Total,Counts,CTS,73657,74488,...,84886,81884,83678,84444,83604,84441,81904,81943,78740,77364
50,BEL,Belgium,Europe,Western Europe,Persons held,Total,Counts,External/CTS,NaN,NaN,...,1682,1796,1709,1447,1407,1411,1407,1509,1374,NaN
51,BEL,Belgium,Europe,Western Europe,Persons held,Total,Counts,External/CTS,6606,6776,...,8057,7894,7731,7744,7625,7466,7595,8205,7004,NaN

In [252]:
D1_totalPersHeldT = D1_totalPersHeldT.fillna(":")
D1_totalPersHeldM = D1_totalPersHeldM.fillna(":")
D1_totalPersHeldF = D1_totalPersHeldF.fillna(":")
D1_totalPersHeldT

,Iso3_code,Country,Region,Subregion,Indicator,Sex,Unit of measurement,Source,2003,2004,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,ALB,Albania,Europe,Southern Europe,Persons held,Total,Counts,CTS/External,2561,2944,...,4618,4998,5689,5981,6031,5674,5316,5045,4614,:
1,ALB,Albania,Europe,Southern Europe,Persons held,Total,Counts,CTS/External,61,61,...,36,43,53,41,46,43,49,49,50,:
2,ALB,Albania,Europe,Southern Europe,Persons held,Total,Counts,CTS/External,:,:,...,8805,8862,8692,:,8619,8852,9163,9072,8488,:
3,ALB,Albania,Europe,Southern Europe,Persons held,Total,Counts,CTS/External,48434,42253,...,28841,28471,29776,33329,35169,34356,32556,:,:,:
4,ALB,Albania,Europe,Southern Europe,Persons held,Total,Counts,CTS/External,:,9245,...,11212,12126,11769,10994,11071,10471,10261,10559,10381,:
5,ALB,Albania,Europe,Southern Europe,Persons held,Total,Counts,CTS/External,:,2405,...,2928,2898,2825,2730,2832,2820,4377,4482,4332,:
6,ALB,Albania,Europe,Southern Europe,Persons held,Total,Counts,CTS/External,10066,10871,...,9493,8834,7870,7408,7345,6988,6651,6448,6251,:
7,ALB,Albania,Europe,Southern Europe,Persons held,Total,Counts,CTS/External,2805,3029,...,4741,4352,3763,3341,3108,3190,3217,3533,3531,:
8,ALB,Albania,Europe,Southern Europe,Persons held,Total,Counts,CTS/External,17277,18343,...,22644,16645,18658,20866,22481,22159,21577,21048,19286,:
9,ALB,Albania,Europe,Southern Europe,Persons held,Total,Counts,CTS/External,3641,3767,...,3829,4091,3583,3203,3408,3418,3635,3920,4166,:
10,ALB,Albania,Europe,Southern Europe,Persons held,Total,Counts,CTS/External,4576,4565,...,3286,3112,3034,2823,2864,2723,2584,2487,2366,:
11,ALB,Albania,Europe,Southern Europe,Persons held,Total,Counts,CTS/External,13,:,...,8,10,11,10,8,6,:,:,:,:
12,ALB,Albania,Europe,Southern Europe,Persons held,Total,Counts,CTS/External,3641,3704,...,3306,3295,3148,3135,3156,3082,2956,2945,2751,:
13,ALB,Albania,Europe,Southern Europe,Persons held,Total,Counts,CTS/External,55382,55355,...,66572,67075,66270,66678,68432,68974,70059,70739,62673,:
14,ALB,Albania,Europe,Southern Europe,Persons held,Total,Counts,CTS/External,80829,80933,...,68533,66221,63228,63020,64291,65841,65762,63146,59585,:
15,ALB,Albania,Europe,Southern Europe,Persons held,Total,Counts,CTS/External,:,19,...,63,:,46,:,56,:,:,:,:,:
16,ALB,Albania,Europe,Southern Europe,Persons held,Total,Counts,CTS/External,8726,8722,...,12475,12693,11798,9611,9560,10011,10654,10891,11379,:
17,ALB,Albania,Europe,Southern Europe,Persons held,Total,Counts,CTS/External,:,93,...,117,:,97,83.33,92,110,100,:,:,:
18,AND,Andorra,Europe,Southern Europe,Persons held,Total,Counts,External/WPB-ICPR/CTS,:,:,...,1,0,0,1,:,:,:,:,:,:
19,AND,Andorra,Europe,Southern Europe,Persons held,Total,Counts,External/WPB-ICPR/CTS,16860,16546,...,17179,17841,17890,17449,17658,17343,17251,16664,16726,:
20,AND,Andorra,Europe,Southern Europe,Persons held,Total,Counts,External/WPB-ICPR/CTS,109,115,...,153,147,142,139,116,137,136,158,141,:
21,AND,Andorra,Europe,Southern Europe,Persons held,Total,Counts,External/WPB-ICPR/CTS,3234,3162,...,4287,4088,3777,3722,3718,3680,3962,4017,3810,:
22,AND,Andorra,Europe,Southern Europe,Persons held,Total,Counts,External/WPB-ICPR/CTS,:,51,...,81,:,91,:,76,106,106,:,:,:
23,AND,Andorra,Europe,Southern Europe,Persons held,Total,Counts,External/WPB-ICPR/CTS,54993,56903,...,67102,63848,54745,53410,55978,59038,61131,62232,54605,:
24,AND,Andorra,Europe,Southern Europe,Persons held,Total,Counts,External/WPB-ICPR/CTS,:,170,...,157,:,140,:,140,128,128,:,:,:
25,AND,Andorra,Europe,Southern Europe,Persons held,Total,Counts,External/WPB-ICPR/CTS,1182,1189,...,1737,1776,1854,1478,1648,1709,1567,1806,1396,:
26,AND,Andorra,Europe,Southern Europe,Persons held,Total,Counts,External/WPB-ICPR/CTS,8305,8231,...,6117,5136,4745,4409,4243,3765,3522,3414,3104,:
27,AND,Andorra,Europe,Southern Europe,Persons held,Total,Counts,External/WPB-ICPR/CTS,:,:,...,60,68,53,53,72,73,63,43,64,:
28,AND,Andorra,Europe,Southern Europe,Persons held,Total,Counts,External/WPB-ICPR/CTS,8063,8125,...,9729,9261,8636,7355,6815,6599,6485,6138,5320,:
29,AND,Andorra,Europe,Southern Europe,Persons held,Total,Counts,External/WPB-ICPR/CTS,:,602,...,666,656,626,691,724,684,650,536,:,:
30,AND,Andorra,Europe,Southern Europe,Persons held,Total,Counts,External/WPB-ICPR/CTS,278,298,...,585,615,581,569,553,591,635,754,864,:
31,AND,Andorra,Europe,Southern Europe,Persons held,Total,Counts,External/WPB-ICPR/CTS,28,34,...,33,29,23,34,31,29,29,:,:,:
32,AND,Andorra,Europe,Southern Europe,Persons held,Total,Counts,External/WPB-ICPR/CTS,741,799,...,1331,1064,1123,1131,1123,1119,1125,1090,810,:
33,AND,Andorra,Europe,Southern Europe,Persons held,Total,Counts,External/WPB-ICPR/CTS,16184,18766,...,13473,12721,11934,10850,10601,10874,11251,11677,11024,:
34,AND,Andorra,Europe,Southern Europe,Persons held,Total,Counts,External/WPB-ICPR/CTS,1608,1782,...,2543,:,3116,3427,3231,3031,3029,:,:,:
35,AUT,Austria,Europe,Western Europe,Persons held,Total,Counts,CTS,2822,2899,...,4052,3869,4103,4056,4192,4164,3791,3561,3533,:
36,AUT,Austria,Europe,Western Europe,Persons held,Total,Counts,CTS,79281,80368,...,85459,80165,79345,72695,72209,74480,72818,74612,68354,:
37,AUT,Austria,Europe,Western Europe,Persons held,Total,Counts,CTS,13835,13677,...,13875,14535,14198,14373,13917,13587,13021,12947,11502,:
38,AUT,Austria,Europe,Western Europe,Persons held,Total,Counts,CTS,10591,9377,...,6575,6846,7313,8051,7750,7635,6990,6712,:,:
39,AUT,Austria,Europe,Western Europe,Persons held,Total,Counts,CTS,42815,39031,...,31817,33434,30156,28334,27455,23450,20792,20578,21753,:
40,AUT,Austria,Europe,Western Europe,Persons held,Total,Counts,CTS,:,763115,...,701909,677287,671649,646085,630155,602176,563166,523928,482851,:
41,AUT,Austria,Europe,Western Europe,Persons held,Total,Counts,CTS,:,:,...,:,:,:,2,:,3,6,:,:,:
42,AUT,Austria,Europe,Western Europe,Persons held,Total,Counts,CTS,7487,7654,...,10226,10031,10288,10064,10672,10807,10871,11077,10540,:
43,AUT,Austria,Europe,Western Europe,Persons held,Total,Counts,CTS,8873,9422,...,10850,9753,10020,9913,9995,10028,10294,10555,10519,:
44,AUT,Austria,Europe,Western Europe,Persons held,Total,Counts,CTS,1070,1085,...,1377,1360,1522,1399,1308,1316,1346,1396,1449,:
45,AUT,Austria,Europe,Western Europe,Persons held,Total,Counts,CTS,56096,59375,...,68597,66765,65017,61614,59589,58812,58883,58517,55180,55097
46,AUT,Austria,Europe,Western Europe,Persons held,Total,Counts,CTS,6755,7332,...,6296,5723,5807,5691,5658,5713,6114,6719,7297,:
47,AUT,Austria,Europe,Western Europe,Persons held,Total,Counts,CTS,4842,5509,...,6102,6634,6519,6498,6507,6564,6602,6568,6183,:
48,AUT,Austria,Europe,Western Europe,Persons held,Total,Counts,CTS,191241,192047,...,:,147112,:,73431,60771,57100,:,55078,:,:
49,AUT,Austria,Europe,Western Europe,Persons held,Total,Counts,CTS,73657,74488,...,84886,81884,83678,84444,83604,84441,81904,81943,78740,77364
50,BEL,Belgium,Europe,Western Europe,Persons held,Total,Counts,External/CTS,:,:,...,1682,1796,1709,1447,1407,1411,1407,1509,1374,:
51,BEL,Belgium,Europe,Western Europe,Persons held,Total,Counts,External/CTS,6606,6776,...,8057,7894,7731,7744,7625,7466,7595,8205,7004,:

## CREATING SECOND PART OF D2 – HELD UNSENTENCED WITH LENGTH OF DETENTION

In [171]:
#==============starting D2.2=====================
D2_persHeldUn = D1_temp.get_group('Persons held unsentenced')
D2_persHeldUn.describe()

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source
count,3225,3225,3225,3225,3225,3225,3225,3225,3225,3225,3225,3225,2029
unique,51,51,1,4,1,1,5,3,1,19,3,2970,12
top,FIN,Finland,Europe,Southern Europe,Persons held unsentenced,by length of detention,Unsentenced: Total,Total,Total,2017,Percentage of total persons held,0,CTS/External
freq,118,118,3225,1068,3225,3225,1496,2796,3225,301,1196,31,744

We observer 3 different Units of measurement, lets see what they are and select only one - raw count.

In [172]:
print(col_unique_val(D2_persHeldUn,'Unit of measurement'))

['Counts', 'Percentage of total persons held', 'Rate per 100,000 population']

In [208]:
D2_persHeldUnCountgrp = D2_persHeldUn.groupby(['Unit of measurement'])
D2_persHeldCount = D2_persHeldUnCountgrp.get_group('Counts')
D2_persHeldCount.describe()

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source
count,1069,1069,1069,1069,1069,1069,1069,1069,1069,1069,1069,1069,1069
unique,51,51,1,4,1,1,4,1,1,19,1,875,12
top,FIN,Finland,Europe,Southern Europe,Persons held unsentenced,by length of detention,Unsentenced: Total,Total,Total,2017,Counts,0,CTS/External
freq,42,42,1069,358,1069,1069,788,1069,1069,99,1069,13,372

Now we have only four categories for the data which are following:
- Unsentenced for less than 12 months
- Unsentenced for less than 6 months
- Unsentenced for more than 12 months
- Unsentenced Total

We also see that the `Sex` and `Age` columns have non-relavant values so we will be dropping them.

In [209]:
D2_persHeldCount = D2_persHeldCount.drop(columns=['Sex','Age'])
D2_persHeldCount

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Year,Unit of measurement,VALUE,Source
70,ALB,Albania,Europe,Southern Europe,Persons held unsentenced,by length of detention,Unsentenced: Total,2003,Counts,490,CTS/External
78,ALB,Albania,Europe,Southern Europe,Persons held unsentenced,by length of detention,Unsentenced: Total,2004,Counts,623,CTS/External
87,ALB,Albania,Europe,Southern Europe,Persons held unsentenced,by length of detention,Unsentenced: Total,2005,Counts,872,CTS/External
98,ALB,Albania,Europe,Southern Europe,Persons held unsentenced,by length of detention,Unsentenced: Total,2006,Counts,941,CTS/External
109,ALB,Albania,Europe,Southern Europe,Persons held unsentenced,by length of detention,Unsentenced: Total,2007,Counts,1765,CTS/External
...,...,...,...,...,...,...,...,...,...,...,...
25788,VAT,Holy See,Europe,Southern Europe,Persons held unsentenced,by length of detention,Unsentenced: Total,2011,Counts,0,CTS
25799,VAT,Holy See,Europe,Southern Europe,Persons held unsentenced,by length of detention,Unsentenced: Total,2012,Counts,1,CTS
25820,VAT,Holy See,Europe,Southern Europe,Persons held unsentenced,by length of detention,Unsentenced: Total,2013,Counts,0,CTS
25841,VAT,Holy See,Europe,Southern Europe,Persons held unsentenced,by length of detention,Unsentenced: Total,2014,Counts,0,CTS
25862,VAT,Holy See,Europe,Southern Europe,Persons held unsentenced,by length of detention,Unsentenced: Total,2015,Counts,0,CTS

Now we will separate the repatitive string data from the numeric data for the four categories mentioned above and we will also group the the category before we transform the df to avoid the error of duplicate values.

In [223]:
D2_persHeldCountCategrp = D2_persHeldCount.groupby(['Category'])
D2_persHeldCat1 = D2_persHeldCountCategrp.get_group('Unsentenced for less than 12 months')
D2_persHeldCat2 = D2_persHeldCountCategrp.get_group('Unsentenced for less than 6 months')
D2_persHeldCat3 = D2_persHeldCountCategrp.get_group('Unsentenced for more than 12 months')
D2_persHeldCat4 = D2_persHeldCountCategrp.get_group('Unsentenced: Total')

D2_persHeldCat1

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Year,Unit of measurement,VALUE,Source
294,ALB,Albania,Europe,Southern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,2018,Counts,1984,CTS
309,ALB,Albania,Europe,Southern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,2019,Counts,2011,CTS
345,ALB,Albania,Europe,Southern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,2020,Counts,1936,CTS
502,AND,Andorra,Europe,Southern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,2015,Counts,4,CTS
516,AND,Andorra,Europe,Southern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,2016,Counts,19,CTS
...,...,...,...,...,...,...,...,...,...,...,...
23420,SVK,Slovakia,Europe,Eastern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,2019,Counts,1477,CTS
23449,SVK,Slovakia,Europe,Eastern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,2020,Counts,1448,CTS
24117,SWE,Sweden,Europe,Northern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,2019,Counts,10011,CTS
24158,SWE,Sweden,Europe,Northern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,2020,Counts,10495,CTS
25341,UKR,Ukraine,Europe,Eastern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,2017,Counts,2713,CTS

In [238]:
#separate the strng part with the numeric values
D2_persHeldCat1Strng = D2_persHeldCat1.drop(columns=['Year','VALUE']) 
D2_persHeldCat2Strng = D2_persHeldCat2.drop(columns=['Year','VALUE'])
D2_persHeldCat3Strng = D2_persHeldCat3.drop(columns=['Year','VALUE'])
D2_persHeldCat4Strng = D2_persHeldCat4.drop(columns=['Year','VALUE'])


D2_persHeldCat1Strng = D2_persHeldCat1Strng.drop_duplicates()
D2_persHeldCat2Strng = D2_persHeldCat2Strng.drop_duplicates()
D2_persHeldCat3Strng = D2_persHeldCat3Strng.drop_duplicates()
D2_persHeldCat4Strng = D2_persHeldCat4Strng.drop_duplicates()
#D2_persHeldCat1Strng = D2_persHeldCat1Strng.reset_index(drop=True)
D2_persHeldCat1Strng
#peform transformation to get the time series structure

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Unit of measurement,Source
294,ALB,Albania,Europe,Southern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS
502,AND,Andorra,Europe,Southern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS
1535,AUT,Austria,Europe,Western Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS
2759,BIH,Bosnia and Herzegovina,Europe,Southern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS/SDG
6156,CZE,Czechia,Europe,Eastern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS
7548,ESP,Spain,Europe,Southern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS/SDG
8105,FIN,Finland,Europe,Northern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS
8478,FRA,France,Europe,Western Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS
9051,GBR_NI,United Kingdom (Northern Ireland),Europe,Northern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS
11150,HRV,Croatia,Europe,Southern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS
11447,HUN,Hungary,Europe,Eastern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS
12574,ITA,Italy,Europe,Southern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS
14180,KOS,Kosovo under UNSCR 1244,Europe,Southern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS
14721,LIE,Liechtenstein,Europe,Western Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS
15495,LUX,Luxembourg,Europe,Western Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS
16658,MCO,Monaco,Europe,Western Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS
16827,MDA,Republic of Moldova,Europe,Eastern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS
17453,MKD,North Macedonia,Europe,Southern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS
17654,MLT,Malta,Europe,Southern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS
21828,RUS,Russian Federation,Europe,Eastern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS
23356,SVK,Slovakia,Europe,Eastern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS
24117,SWE,Sweden,Europe,Northern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS
25341,UKR,Ukraine,Europe,Eastern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS

In [249]:
#performing tranformation on all grouped categories
D2_persHeldCat1num = D2_persHeldCat1.pivot(index = 'Country',columns='Year', values='VALUE')
D2_persHeldCat1num = D2_persHeldCat1num.reset_index()
D2_persHeldCat2num = D2_persHeldCat2.pivot(index = 'Country',columns='Year', values='VALUE')
D2_persHeldCat2num = D2_persHeldCat1num.reset_index()
D2_persHeldCat3num = D2_persHeldCat3.pivot(index = 'Country',columns='Year', values='VALUE')
D2_persHeldCat3num = D2_persHeldCat3num.reset_index()
D2_persHeldCat4num = D2_persHeldCat4.pivot(index = 'Country',columns='Year', values='VALUE')
D2_persHeldCat4num = D2_persHeldCat4num.reset_index()


D2_persHeldCat1num

Year,Country,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Albania,NaN,NaN,NaN,NaN,NaN,1984,2011,1936,NaN
1,Andorra,NaN,NaN,4,19,18,19,6,6,NaN
2,Austria,NaN,NaN,NaN,1678,1846,1797,1732,1461,NaN
3,Bosnia and Herzegovina,NaN,NaN,NaN,NaN,NaN,1094,1137,1074,NaN
4,Croatia,NaN,NaN,NaN,NaN,833,909,1149,1152,NaN
5,Czechia,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
6,Finland,506,573,530,552,557,487,588,573,NaN
7,France,NaN,NaN,NaN,13066,13076,13489,13923,11480,NaN
8,Hungary,NaN,NaN,NaN,NaN,2499,1901,5122,5229,NaN
9,Italy,10410,8955,8023,9073,9183,9529,9293,7829,NaN
10,Kosovo under UNSCR 1244,NaN,NaN,NaN,NaN,324,353,426,153,NaN
11,Liechtenstein,NaN,NaN,NaN,0,2,4,12,19,NaN
12,Luxembourg,NaN,NaN,NaN,NaN,263,224,NaN,NaN,NaN
13,Malta,NaN,NaN,NaN,82,127,146,192,174,NaN
14,Monaco,NaN,NaN,NaN,11,NaN,NaN,NaN,NaN,NaN
15,North Macedonia,NaN,NaN,NaN,184,174,NaN,NaN,NaN,NaN
16,Republic of Moldova,NaN,NaN,188,266,139,199,NaN,NaN,NaN
17,Russian Federation,NaN,23058,22807,20684,18622,18105,18575,36421,NaN
18,Slovakia,NaN,NaN,NaN,NaN,1380,1414,1477,1448,NaN
19,Spain,NaN,NaN,NaN,5224,5207,5716,5852,5100,5481
20,Sweden,NaN,NaN,NaN,NaN,NaN,NaN,10011,10495,NaN
21,Ukraine,NaN,NaN,NaN,NaN,2713,NaN,NaN,NaN,NaN
22,United Kingdom (Northern Ireland),NaN,376,314,307,350,408,NaN,463,NaN

In [ ]:
#performing merge on the country column
D2_totalPersHeldCat1 = pd.merge(D2_persHeldCat1Strng, D2_persHeldCat1num, on='Country')
D2_totalPersHeldCat2 = pd.merge(D2_persHeldCat2Strng, D2_persHeldCat2num, on='Country')
D2_totalPersHeldCat3 = pd.merge(D2_persHeldCat3Strng, D2_persHeldCat3num, on='Country')
D2_totalPersHeldCat4 = pd.merge(D2_persHeldCat4Strng, D2_persHeldCat4num, on='Country')

D2_totalPersHeldCat4

In [253]:
#replacing the NAN values with the `:` string values
D2_totalPersHeldCat1 = D2_totalPersHeldCat1.fillna(":")
D2_totalPersHeldCat2 = D2_totalPersHeldCat2.fillna(":")
D2_totalPersHeldCat3 = D2_totalPersHeldCat3.fillna(":")
D2_totalPersHeldCat4 = D2_totalPersHeldCat4.fillna(":")
D2_totalPersHeldCat1

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Unit of measurement,Source,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,ALB,Albania,Europe,Southern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS,:,:,:,:,:,1984,2011,1936,:
1,AND,Andorra,Europe,Southern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS,:,:,4,19,18,19,6,6,:
2,AUT,Austria,Europe,Western Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS,:,:,:,1678,1846,1797,1732,1461,:
3,BIH,Bosnia and Herzegovina,Europe,Southern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS/SDG,:,:,:,:,:,1094,1137,1074,:
4,CZE,Czechia,Europe,Eastern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS,:,:,:,0,:,:,:,:,:
5,ESP,Spain,Europe,Southern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS/SDG,:,:,:,5224,5207,5716,5852,5100,5481
6,FIN,Finland,Europe,Northern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS,506,573,530,552,557,487,588,573,:
7,FRA,France,Europe,Western Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS,:,:,:,13066,13076,13489,13923,11480,:
8,GBR_NI,United Kingdom (Northern Ireland),Europe,Northern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS,:,376,314,307,350,408,:,463,:
9,HRV,Croatia,Europe,Southern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS,:,:,:,:,833,909,1149,1152,:
10,HUN,Hungary,Europe,Eastern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS,:,:,:,:,2499,1901,5122,5229,:
11,ITA,Italy,Europe,Southern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS,10410,8955,8023,9073,9183,9529,9293,7829,:
12,KOS,Kosovo under UNSCR 1244,Europe,Southern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS,:,:,:,:,324,353,426,153,:
13,LIE,Liechtenstein,Europe,Western Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS,:,:,:,0,2,4,12,19,:
14,LUX,Luxembourg,Europe,Western Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS,:,:,:,:,263,224,:,:,:
15,MCO,Monaco,Europe,Western Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS,:,:,:,11,:,:,:,:,:
16,MDA,Republic of Moldova,Europe,Eastern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS,:,:,188,266,139,199,:,:,:
17,MKD,North Macedonia,Europe,Southern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS,:,:,:,184,174,:,:,:,:
18,MLT,Malta,Europe,Southern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS,:,:,:,82,127,146,192,174,:
19,RUS,Russian Federation,Europe,Eastern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS,:,23058,22807,20684,18622,18105,18575,36421,:
20,SVK,Slovakia,Europe,Eastern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS,:,:,:,:,1380,1414,1477,1448,:
21,SWE,Sweden,Europe,Northern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS,:,:,:,:,:,:,10011,10495,:
22,UKR,Ukraine,Europe,Eastern Europe,Persons held unsentenced,by length of detention,Unsentenced for less than 12 months,Counts,CTS,:,:,:,:,2713,:,:,:,:

<hr>

## Creating D4

In [258]:
D4.head()

  freq,lev_perc,unit,geo\TIME_PERIOD 2016  2017  2018  2019  2020  2021  2022
0                       A,FBAD,PC,AT   13    14     7     8     7     7     8
1                       A,FBAD,PC,BE   19    21    18    17    19    18    23
2                       A,FBAD,PC,BG   35    37    31    35    31    33    30
3                       A,FBAD,PC,CY   19    14    18    15    20    21    25
4                       A,FBAD,PC,CZ   32    31    28    27    25    27    26

In [259]:
D4.columns

Index(['freq,lev_perc,unit,geo\TIME_PERIOD', '2016 ', '2017 ', '2018 ',
       '2019 ', '2020 ', '2021 ', '2022 '],
      dtype='object')

In [260]:
# why? –––––> To understand the indexing structure 
for items in D4.columns:
    print(items)

first_col = D4.iloc[:,0]
freq = []
lev_per = []
unit = []
geo = []

for row in first_col:
    output_list = []
    word = str()
    #print(row)
    #print(len(row))
    for i in range(len(row)):
        if row[i] != ",":
            word = word + row[i]
            #print(word)
        else:
            output_list.append(word)
            word = str()
    if word != "":
        output_list.append(word)
    freq.append(output_list[0])
    lev_per.append(output_list[1])
    unit.append(output_list[2])
    geo.append(output_list[3])

# total rows = 210
colDict = {'freq':freq,'lev_per':lev_per,'unit':unit,'geo':geo}
D4_firstCol = pd.DataFrame(data=colDict)


#merging 
D4_data = D4.drop(columns=['freq,lev_perc,unit,geo\TIME_PERIOD'])

D4_structured = D4_firstCol.merge(D4_data, left_index=True, right_index=True)
D4_structured.head(10)

freq,lev_perc,unit,geo\TIME_PERIOD
2016
2017
2018
2019
2020
2021
2022

  freq lev_per unit geo 2016  2017  2018  2019  2020  2021  2022
0    A    FBAD   PC  AT   13    14     7     8     7     7     8
1    A    FBAD   PC  BE   19    21    18    17    19    18    23
2    A    FBAD   PC  BG   35    37    31    35    31    33    30
3    A    FBAD   PC  CY   19    14    18    15    20    21    25
4    A    FBAD   PC  CZ   32    31    28    27    25    27    26
5    A    FBAD   PC  DE   13    12    14    15    11    11     8
6    A    FBAD   PC  DK    6     5     7     5     6     8     6
7    A    FBAD   PC  EE   12    12    11    12    12     8    14
8    A    FBAD   PC  EL   26    25    22    24    24    23    28
9    A    FBAD   PC  ES   38    39    32    37    34    32    35

In [261]:
# check for missing and NAN values
missing_values = D4_structured.isnull().sum()
print(missing_values)

# finding rows with missing data and the associated country
for index,row in D4_structured.iterrows():
    for col,value in row.items():
        if ':' in value:
            print(row['geo'])

freq       0
lev_per    0
unit       0
geo        0
2016       0
2017       0
2018       0
2019       0
2020       0
2021       0
2022       0
dtype: int64
EU28
EU28
EU28
UK
UK
EU28
EU28
EU28
UK
UK
EU28
EU28
EU28
UK
UK
EU28
EU28
EU28
UK
UK
EU28
EU28
EU28
UK
UK
EU28
EU28
EU28
UK
UK
EU28
EU28
EU28
UK
UK

After checking for null values we see that the D4 dataset has no null values in any of its columns. However, we do have `:` as a placeholder for missing values and we observer that it's missing in namely two locations:
- EU28
- UK

> We will **decide later** what to do with the rows with the placeholder values

In [262]:
# finding rows with breaks in the time series and the associated country
for index,row in D4_structured.iterrows():
    for col,value in row.items():
        if 'b' in value:
            print(row['geo'])

EU27_2020
EU27_2020
EU27_2020
EU27_2020
EU27_2020
EU27_2020
EU27_2020

In [263]:
# finding rows with estimated values and the associated country
for index,row in D4_structured.iterrows():
    for col,value in row.items():
        if 'e' in value:
            print(row['geo'])

EU27_2020
EU27_2020
EU27_2020
EU27_2020
EU27_2020
EU27_2020
EU27_2020
EU27_2020
EU27_2020
EU27_2020
EU27_2020
EU27_2020
EU27_2020
EU27_2020
EU27_2020
EU27_2020
EU27_2020
EU27_2020
EU27_2020
EU27_2020
EU27_2020
EU27_2020
EU27_2020
EU27_2020
EU27_2020
EU27_2020
EU27_2020
EU27_2020
EU27_2020
EU27_2020
EU27_2020
EU27_2020
EU27_2020
EU27_2020
EU27_2020

In [264]:

# finding all unique countries in the DF
loc = []
for index,row in D4_structured.iterrows():
    for col,value in row.items():
        if col == 'geo' and row['geo'] not in loc:
            loc.append(row['geo'])

print(loc)
print(len(loc))

['AT', 'BE', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EE', 'EL', 'ES', 'EU27_2020', 'EU28', 'FI', 'FR', 'HR', 'HU', 'IE', 'IT', 'LT', 'LU', 'LV', 'MT', 'NL', 'PL', 'PT', 'RO', 'SE', 'SI', 'SK', 'UK']
30

### Important!
After we create the grouped object for each location, we can use the stored values of the location codes to create new Dataframes with only the data of those locations. Below I have created the dataframe for Belgium using the code `BE`.

In [265]:
loc2 = []
# deleting estimated values for EU27 and EU28
for index,row in D4_structured.iterrows():
    for col,value in row.items():
        if col ==  'geo' and 'EU27' in row['geo']:
            loc2.append(index)

#deleting the 'freq' and 'unit' as it is the same for every data entry
D4_structured = D4_structured.drop(columns=['freq','unit'])
D4_structured.head(10)

  lev_per geo 2016  2017  2018  2019  2020  2021  2022
0    FBAD  AT   13    14     7     8     7     7     8
1    FBAD  BE   19    21    18    17    19    18    23
2    FBAD  BG   35    37    31    35    31    33    30
3    FBAD  CY   19    14    18    15    20    21    25
4    FBAD  CZ   32    31    28    27    25    27    26
5    FBAD  DE   13    12    14    15    11    11     8
6    FBAD  DK    6     5     7     5     6     8     6
7    FBAD  EE   12    12    11    12    12     8    14
8    FBAD  EL   26    25    22    24    24    23    28
9    FBAD  ES   38    39    32    37    34    32    35

In [269]:
# group the dataframe by column 'geo'
D4_structured2 = D4_structured.groupby(['geo'])

#fetch the data of any location using the country code store in the loc varaible
D4_structured2.get_group('UK')

    lev_per geo 2016  2017  2018  2019  2020  2021  2022
29     FBAD  UK   12    11    13    10    12     :     :
59    FGOOD  UK   52    45    48    49    54     :     :
89      UNK  UK   12    13    12    11     8     :     :
119    VBAD  UK    6     5     7     9     9     :     :
149   VB_FB  UK   18    16    20    19    21     :     :
179   VGOOD  UK   18    26    20    21    17     :     :
209   VG_FG  UK   70    71    68    68    71     :     :

In [270]:
#writing the loop to iterate over all the country group objects and mergeing them into one df
D4_final = pd.DataFrame()
for item in D4_structured2.groups:
    DF = pd.DataFrame()
    DF = D4_structured2.get_group(item)
    D4_final = pd.concat([D4_final,DF])

D4_final

    lev_per geo 2016  2017  2018  2019  2020  2021  2022
0      FBAD  AT   13    14     7     8     7     7     8
30    FGOOD  AT   59    58    58    65    62    62    59
60      UNK  AT    7     6    10     7     5     7     7
90     VBAD  AT    3     2     2     2     2     2     3
120   VB_FB  AT   16    16     9    10     9     9    10
..      ...  ..   ...   ...   ...   ...   ...   ...   ...
89      UNK  UK   12    13    12    11     8     :     :
119    VBAD  UK    6     5     7     9     9     :     :
149   VB_FB  UK   18    16    20    19    21     :     :
179   VGOOD  UK   18    26    20    21    17     :     :
209   VG_FG  UK   70    71    68    68    71     :     :

[210 rows x 9 columns]